include README.md
include requirements.txt
include requirements-py2.txt
# Include source files
recursive-include gco *.h
recursive-include gco_source *.TXT
recursive-include gco_source *.h
recursive-include gco_source *.cpp

exclude test_*.py
exclude test_*.cpp
exclude *.yml
exclude *.yaml
exclude Makefile

prune images
prune gco_source/matlab
